/* General */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: rgb(32, 23, 77);
  --clr-accent: rgb(58, 174, 139);
  --clr-red: #c0392b;
  --clr-blue: #1b9cfc;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
.margin_50 {
  margin: 50px auto;
}
.margin_100 {
  margin: 100px auto;
}
.opacity {
  opacity: 0.7;
}
html {
  font: normal 16px var(--ff-primary);
  color: var(--clr-light);
}

/* Background Image */
.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: fadeIn 1s linear;
  animation: fadeIn 1s linear;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Header */
.header {
  position: relative;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 16px;
  -webkit-animation: 1s fadein2 0.5s forwards;
  animation: 1s fadein2 0.5s forwards;
  opacity: 0;
  z-index: 1;
  background-color: var(--clr-light);
}
@-webkit-keyframes fadein2 {
  100% {
    opacity: 1;
  }
}
@keyframes fadein2 {
  100% {
    opacity: 1;
  }
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header p {
  padding-left: 5px;
  color: var(--clr-dark);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.city_color {
  color: var(--clr-accent);
  padding-right: 1rem;
}
.red {
  color: var(--clr-red);
}
.blue {
  color: var(--clr-blue);
}
@media all and (max-width: 550px) {
  header {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

/* Clock section */
.clockContainer {
  width: 360px;
  text-align: center;
  margin-bottom: 50px;
}
.clock {
  font-size: 90px;
  color: var(--clr-dark);
  margin-bottom: 20px;
}

/* Greeting */
.form,
.greeting {
  display: none;
}
.showing {
  display: block;
}
.form input {
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
}

/* to do list */
.listContainer {
  width: 360px;
  background: var(--clr-light);
  -webkit-box-shadow: 0 0 3px var(--bs);
  box-shadow: 0 0 3px var(--bs);
  margin-top: 0;
}
.listContainer h2 {
  background: var(--clr-accent);
  color: var(--clr-light);
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: normal;
}
.listContainer ul {
  list-style: none;
}
.listContainer li {
  background: var(--clr-light);
  height: 40px;
  line-height: 40px;
  color: var(--clr-dark);
}
.listContainer li:nth-child(2n) {
  background: lightgray;
}
.listContainer input {
  color: var(--clr-dark);
  font-size: 18px;
  background-color: lightgray;
  width: 100%;
  padding: 13px 13px 13px 20px;
  border: 3px solid var(--bs);
}
.listContainer input:focus {
  background: var(--clr-light);
  border: 3px solid var(--clr-accent);
  outline: none;
}
.listContainer i {
  color: var(--clr-red);
  margin-right: 20px;
  text-align: center;
  width: 0;
  margin-top: 0;
  display: inline-block;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  opacity: 0;
}
.listContainer li:hover i {
  width: 40px;
  opacity: 1;
}
